html,body{
    background-color: blanchedalmond;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container{
    position: relative;
    height: 400px;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: -7px -7px 15px white;
}

#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#container i{
    color: #fff;
    font-size: 65px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0;
    transition: transform ease 0.5s;
}